[submodule "test/Catch2"]
	path = test/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "lib/fmt"]
	path = lib/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "lib/CLI11"]
	path = lib/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "lib/variant"]
	path = lib/variant
	url = https://github.com/mpark/variant.git
[submodule "lib/pybind11"]
	path = lib/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "lib/hana"]
	path = lib/hana
	url = https://github.com/boostorg/hana.git
